<!DOCTYPE html>
<html>
<body>
  <h1>EUR</h1>
  <div style="position:fixed; bottom: 0; left: 0;">
    Thanks for visiting the site!
  </div>
  <article>
    <p>
      Just Let Me Rot
    </p>
    
    <p>
    </p>
  </article>
</body>
</html>
